.section {
  display: grid;
  gap: 1rem;
  margin: 3rem 25rem;
  background-color: #cae8bd;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 0;
}

.generalrating_container {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.avgstars {
  font-size: 3rem;
  text-align: center;
}

.detailedstars_container {
  display: grid;
  gap: 0.5em;
  transition: 0.3s;
}

.star_container {
  display: flex;
  gap: 1rem;
}

.star_container div {
  display: flex;
  width: 20rem;
  transition: 0.4s;
}

.rate_container {
  margin-top: 1rem;
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.3rem;
}

.rate_container p {
  font-size: 1.5rem;
}

.rate_container div {
  height: 1.5rem;
  align-self: center;
  position: relative;
}

.rate_container .svg {
  height: 1.5rem;
}
