.section {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: grid;
  gap: 1rem;
  margin: 0 25rem;
}

.ratings_section {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.h1 {
  margin-bottom: 2rem;
  text-align: start;
}

.userinfo_container {
  display: flex;
  gap: 0.5rem;
}

.userinfo_container a {
  text-decoration: none;
  color: #245f08;
}

.recipe_img {
  max-width: 100%;
  max-height: 30rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.ingredients_container ol {
  list-style-type: none;
  margin-left: 2rem;
  display: grid;
  gap: 0.5rem;
}

.instructions_container {
  white-space: pre-line;
}

.instructions_container p {
  margin: 0 7rem;
  font-size: 1.2rem;
}
