.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #b0db9c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.ul {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
}

.title_div a {
  text-decoration: none;
  color: black;
  font-size: xx-large;
}

.links_div {
  display: flex;
  gap: 2rem;
}

.links_div * {
  background-color: #b0db9c;
  text-decoration: none;
  color: black;
  text-align: center;
  align-content: center;
  font-size: 1.5rem;
  border: none;
}

.links_div button:hover {
  cursor: pointer;
}

.links_div *:hover {
  text-decoration: underline;
}
