.recipe_container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: #ddf6d2;
  border-radius: 2rem;
  padding: 2rem;
}

.recipe_img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 80%;
  max-height: 23rem;
  display: block;
  border-radius: 1rem;
  align-self: center;
}

.recipe_name {
  text-align: center;
  margin-bottom: 1rem;
}

.recipe_name a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.rating_container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.additional_info_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user_container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user_container a {
  text-decoration: none;
  color: grey;
  font-size: 1.2rem;
}

.details_button_container {
  display: flex;
  justify-content: end;
}

.details_button_container a {
  text-decoration: none;
}

.animated_button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #228b22;
  box-shadow: 0 0 0 2px #228b22;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button svg {
  position: absolute;
  width: 24px;
  fill: #228b22;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button .arr_1 {
  right: 16px;
}

.animated_button .arr_2 {
  left: -25%;
}

.animated_button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #228b22;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated_button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #ecfae5;
  border-radius: 12px;
}

.animated_button:hover .arr_1 {
  right: -25%;
}

.animated_button:hover .arr_2 {
  left: 16px;
}

.animated_button:hover .text {
  transform: translateX(12px);
}

.animated_button:hover svg {
  fill: #ecfae5;
}

.animated_button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px white;
}

.animated_button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
